{% extends 'index.html.twig' %}
{% block body %}
<table border="1">
    <tr>
        <td>CIN</td>
        <td>Nom</td>
        <td>Classe</td>
    </tr>
    {% for s in students %}
        <tr>
            <td>{{ s.cin }}</td>
            <td>{{ s.nom }}</td>
            <td>{{ s.classe.nom }}</td>
            <td><a href="{{ path('student_edit',{'id':s.id}) }}">Edit</a></td>
            <td><a href="{{ path('student_delete',{'id':s.id}) }}">Delete</a></td>
        </tr>
    {% endfor %}
</table>
{% endblock %}